@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
  font-family: 'Nunito', serif;
  background-color: rgb(172, 172, 172);
}
html {
  scroll-behavior: smooth;
}
#title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  margin: 0;
  font-size: 3em;
  color: white;
  background-color: rgb(16, 29, 100);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin-top: 5vh;
  margin-left: 20vw;
  border-radius: 0.3em;
  background-color: rgb(233, 232, 232);
  padding: 0.5vw;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
input{
  width: 58vw;
  height: 6vh;
  margin: 1.2vh;
  border: hidden;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.2em;
  font-family: 'Nunito', serif;
}
textarea {
  max-width: 58vw;
  min-width: 58vw;
  min-height: 6vh;
  margin: 1.2vh;
  border: hidden;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.2em;
  font-family: 'Nunito', serif;
}
.confirmedInput {
  display: flex;
  align-items: center;
  width: 58vw;
  height: 6vh;
  margin: 1.2vh;
  border: hidden;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.2em;
  font-family: 'Nunito', serif;
  background-color: white;
  
}
button {
  width: 58vw;
  height: 7vh;
  margin: 1vh;
  border: hidden;
  border-radius: 0.5em;
  cursor: pointer;
  color: white;
  background-color: rgb(16, 29, 100);
  font-family: 'Nunito', serif;
  font-size: 1em;
  font-weight: bold;
}
.borrar {
  background-color: rgb(100, 16, 16);
}
.guardar {
  background-color: rgb(16, 100, 68);
}
.list {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.subtitle {
  font-size: 2em;
  margin: 1vh;
  font-weight: bold;
}
#previewMainContainer {
  width: 61vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 20vw;
  height: 130vh;
  border-radius: 0.3em;
  background-color: rgb(233, 232, 232);
}
.pdf {
  margin-top: 5vh;
  background-color: rgb(23, 146, 99);
}
.ejemplo {
  background-color: rgb(230, 124, 39);
}
#curriculum {
  color: rgb(0, 0, 0);
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
}
@media (max-width: 1150px) {
  body {
    background-color: rgb(233, 232, 232);
  }
  #title {
    width: 100%;
  }
  .container {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0%;
  }
  input {
    width: 97vw;
  }
  button {
    width: 97vw;
  }
  textarea {
    max-width: 97vw;
    min-width: 97vw;
  }
  .confirmedInput {
    width: 97vw;
  }
  #previewMainContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0%;
  }
}